h1 {
  color: paleturquoise;
  font-family: "JetBrains Mono", monospace;
}

.score {
  color: #a1c4fd;
  font-size: 25px;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
}

html {
  overflow-x: hidden;
}

.mainBoard {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #ffffff;
  background-image: url("./images/bg1.png");
  background-size: cover;
}

.leftBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 37.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrowContainer {
  width: 15vw;
  height: 10vw;
  display: grid;
  grid-template-columns: repeat(3, 4vw);
  grid-template-rows: repeat(2, 3.5vw);
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
}

.arrow {
  display: inline-block;
  cursor: pointer;
  width: 4vw;
  height: 4vw;
}

.arrow:hover {
  opacity: 0.8;
}

.arrow:nth-child(1) {
  grid-column: 1;
  grid-row: 2;
}

.arrow:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  transform: rotate(90deg);
}

.arrow:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
  transform: rotate(180deg);
}

.arrow:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
  transform: rotate(270deg);
}

.restartBtn:hover {
  opacity: 0.8;
}

.restartBtn {
  cursor: pointer;
  width: 80px;
  height: 50px;
  color: white;
  background-color: #a5a3f8;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 2vw;
}

.rightBar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 37.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.gameBoard {
  width: 25vw;
  height: 100vh;
  background-color: #ffffff;
  margin-left: 37.5vw;
  padding: 0;
  display: inline-block;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes emerge {
  from{opacity: 0}
  to{opacity: 1}
}

.gameOverText {
  animation: emerge 2s;
  position: fixed;
  width: 7.5vw;
  height: 50px;
  top: 40%;
  left: calc(50% - 5vw);
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: "JetBrains Mono", fantasy;
  letter-spacing: 5px;
  border-style: double;
  padding: 20px;
  text-align: center;
  background-color: #adccfb;
}

.blockBorder {
  width: 2.5vw;
  height: 2.5vw;
  border: 2px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.innerBlock {
  height: 2vw;
  width: 2vw;
  border: 2px solid black;
  box-sizing: border-box;
  background-image:linear-gradient(0deg,#cfd9df 0%, #e2ebf0 100%);
}

.blocks {
  display: inline;
  position: absolute;
}

@keyframes clear {
  0%{opacity: 1}
  25%{opacity: 0}
  50%{opacity: 1}
  100%{opacity: 0}
}

.line.clear {
  animation: clear 0.5s;
}


#line1::after, #line11::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
}

#line2::after, #line3::after, #line4::after, #line5::after, #line6::after, #line7::after, #line8::after, #line9::after, #line10::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-image: linear-gradient(#000 30%, transparent 0%);
  background-position: left;
  background-size: 1px 20px;
  background-repeat: repeat-y;

}

#line1::after {
  left: 0;
}

#line2::after {
  left: calc(2.5vw - 1px);
}

#line3::after {
  left: calc(5vw - 1px);
}

#line4::after {
  left: calc(7.5vw - 1px);
}

#line5::after {
  left: calc(10vw - 1px);
}

#line6::after {
  left: calc(12.5vw - 1px);
}

#line7::after {
  left: calc(15vw - 1px);
}

#line8::after {
  left: calc(17.5vw - 1px);
}

#line9::after {
  left: calc(20vw - 1px);
}

#line10::after {
  left: calc(22.5vw - 1px);
}

#line11::after {
  left: calc(25vw - 1px);
}

a {
  font-family: Arial, serif;
  color: #adccfb;
  text-decoration: none;
  margin: 5px;
}

.githubIcon {
  width: 14px;
  height: 14px;
}

.hrefItem {
  display: flex;
  justify-content: center;
  align-items: center;
}